<div id="<%= dom_id room_class %>">
  <p>
    <strong>Room class:</strong>
    <%= room_class.room_class %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room_class.description %>
  </p>

</div>
