<div id="<%= dom_id review %>">
  <p>
    <strong>Customer:</strong>
    <%= review.customer_id %>
  </p>

  <p>
    <strong>Star:</strong>
    <%= review.star %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

</div>
